* {
  margin: 0px;
  padding: 0px;
}

header {
  width: 1300px;
  height: 70px;
  background-color: #8c0a0d;
  margin-left: auto;
  margin-right: auto;
}

.imgHeader {
  width: 177px;
  height: 41px;
  display: inline-block;
  margin-top: 15px;
  margin-left: 67px;
}

.link {
  float: right;
  margin-top: 35px;
}

.link li {
  font-size: 14px;
  display: inline-block;
}

.link li:nth-child(1) {
  margin-right: 30px;
}

.link li:nth-child(2) {
 margin-right: 32px;
}

.link li:nth-child(3) {
  margin-right: 34px;
}

.link li:nth-child(4) {
  margin-right: 31px;
}

.link li:nth-child(5) {
  margin-right: 32px;
}

.link li:nth-child(6) {
  margin-right: 130px;
}

.link li:nth-child(7) {
  margin-right: 66px;
}

.link>li>a {
  color: #e7c89f;
  text-decoration: none;
}

.flagENG {
  float: right;
  margin-right: -52.5em;
  margin-top: 34px;
}

.mainContent {
  width: 1300px;
  height: 753px;
  margin-right: auto;
  margin-left: auto
}

.bgImg {
  width: 1300px;
  height: 753px;
  background-image: url(/Users/kir/Documents/Education/HomeWork_4/img/layer.png);
  position: absolute;
  opacity: .1;
}

.bgColor {
  width: 1300px;
  height: 753px;
  background-color: #c5ba9f;
  position: absolute;
}

.mainImg {
  width: 1170px;
  height: 335px;
  position: absolute;
  margin-top: 26px;
  margin-left: 65px;
  outline: 4px solid #000000;
}

.roshenWorld {
  width: 480px;
  height: 54px;
  position: absolute;
  font-size: 65px;
  top: 15px;
  margin-left: 360px;
}

.leftArrow {
  width: 55px;
  height: 55px;
  position: absolute;
  margin-left: 28px;
  bottom: 0px;
  margin-bottom: 128px;
}

.rightArrow {
  width: 55px;
  height: 55px;
  position: absolute;
  right: 0px;
  margin-right: 28px;
  margin-bottom: 128px;
  bottom: 0px ;
}

.btn {
  width: 189px;
  height: 42px;
  background-color: #f6cc79;
  font-size: 21px;
  border-radius: 10px;
  box-shadow: 0px 6px 7px #bf670d;
  border: none;
  margin-top: -11em;
  display: block;
  position: relative;
  margin-left: 23.5em;
}

.btn a {
  text-decoration: none;
  color: black;
}

.elips1 {
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  left: 0px;
  margin-bottom: 9px;
  bottom: 0px;
  margin-left: 555px;
}

.elips2 {
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #bf670d;
  border-radius: 50%;
  right: 49.4%;
  margin-bottom: 9px;
  bottom: 0px;
}

.elips3 {
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  right: 0px;
  margin-bottom: 9px;
  bottom: 0px;
  margin-right: 555px;
}

.textContent1 {
  width: 1170px;
  height: 91px;
  position: absolute;
  margin-top: 391px;
  margin-left: 65px;
  font-size: 16px;
  font-weight: 600;
}

.textContent1 pre:nth-child(1) {
  position: absolute;
  width: 269px;
  height: 64px;
  left: 10%;
  left: -4px;
  margin-right: 29px;
  font-family: sans-serif;
}

.textContent1 pre:nth-child(2) {
  position: absolute;
  width: 276px;
  height: 65px;
  left: 40%;
  left: 298px;
  margin-right: 23px;
  font-family: sans-serif;
}

.textContent1 pre:nth-child(3) {
  position: absolute;
  width: 233px;
  height: 89px;
  right: 20%;
  right: 275px;
  margin-right: 62px;
  font-family: sans-serif;
}

.textContent1 pre:nth-child(4) {
  position: absolute;
  width: 249px;
  height: 63px;
  right: 0%;
  right: -4px;
  margin-right: 29px;
  font-family: sans-serif;
}

.textContent2 {
  width: 1170px;
  height: 160px;
  position: absolute;
  margin-top: 500px;
  margin-left: 65px;
}

.textContent2 pre:nth-child(1) {
  position: absolute;
  width: 259px;
  height: 135px;
  left: -4px;
  font-family: auto;
}

.textContent2 pre:nth-child(2) {
  position: absolute;
  width: 254px;
  height: 158px;
  left: 298px;
  font-family: auto;
}

.textContent2 pre:nth-child(3) {
  position: absolute;
  width: 252px;
  height: 159px;
  right: 275px;
  font-family: auto;
  margin-right: 43px;
}

.textContent2 pre:nth-child(4) {
  position: absolute;
  width: 276px;
  height: 133px;
  right: -4px;
  font-family: auto;
}

.footer {
  width: 1300px;
  height: 70px;
  background-color: #8c0a0d;
  margin-left: auto;
  margin-right: auto;
}

.footInfo a:nth-child(1) {
  width: 192px;
  height: 14px;
  position: absolute;
  color: #f5bf66;
  font-size: 13px;
  margin-left: 67px;
  margin-top: 36px;
  text-decoration: none;
}

.footInfo a:nth-child(2) {
  width: 148px;
  height: 38px;
  position: absolute;
  color: #f5bf66;
  font-size: 13px;
  margin-left: 361px;
  margin-top: 12px;
  text-decoration: none;
}

.footInfo a:nth-child(3) {
  width: 144px;
  height: 37px;
  position: absolute;
  color: #f5bf66;
  font-size: 13px;
  margin-left: 658px;
  margin-top: 12px;
  text-decoration: none;
}

.footInfo a:nth-child(4) {
  width: 144px;
  height: 37px;
  position: absolute;
  color: #f5bf66;
  font-size: 13px;
  margin-left: 683px;
  margin-top: 41px;
  text-decoration: none;
}

.footInfo a:nth-child(5) {
  width: 138px;
  height: 36px;
  position: absolute;
  color: #f5bf66;
  font-size: 13px;
  margin-left: 957px;
  margin-top: 12px;
  text-decoration: none;
}

.social div:first-of-type {
  width: 28px;
  height: 28px;
  display: inline-block;
}

.social div:last-of-type {
  width: 28px;
  height: 28px;
  display: inline-block;
}

.social {
  float: right;
  margin-right: 108px;
  margin-top: 21px;
}